h1 {
  font-family: 'Chewy', cursive;
}
p {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}
#questions > div {
  margin-bottom: 1%;
}
.caption {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
}
.jumbotron {
  background-color: #fff;
}
.overlay {
  position: absolute;
  z-index: 1;
  display: none;
}
/*.animate-card .jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
}*/
