<div class="animate-in-out">
  <div class="jumbotron">
    <img class="avatar" src="assets/user1.png" alt="user avatar icon">
    <h1>Score</h1>
    <div class="score"></div>
    <div class="row">
      <button type="button" class="btn btn-lg btn-success" id="new-game">New Game</button>
    </div>
  </div>
  <div class="row">
    <h1>Recap</h1>
  </div>
  <div id="recap"></div>
  <div id="to-top" class="container hidden">
      <button id="read-more" class="btn btn-default pull-right">^</button>
  </div>
</div>
