<div class="animate-in-out">
  <div class="jumbotron">
    <img class="avatar" src="assets/user1.png" alt="user avatar icon">
    <h1>Score</h1>
    <div class="score"></div>
    <div class="no-name hidden">
      <p>Enter your name: </p>
      <div class="col-md-4 col-md-offset-4">
        <input type="email" class="form-control text-center" id="input-name" autofocus placeholder="  Epic Name">
      </div>
    </div>
  </div>
  <div class="row">
    <h1>Recap</h1>
  </div>
  <div id="recap"></div>
</div>
