<div class="animate-in-out">
  <div class="jumbotron">
    <h1>QuiZapp</h1>
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <div class="col-md-4">
        <img class="bouncer" role="button" src="assets/user1.png" alt="male user icon">
      </div>
      <div class="col-md-4">
        <img class="bouncer" role="button" src="assets/user2.png" alt="female user icon">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img class="img-responsive hidden play-button" role="button" src="assets/play-button.png" alt="play button">
    </div>
    <h1 class="ftt">Choose Your Avatar</h1>
  </div>
</div>
